In [1]:
import pandas as pd

In [52]:
import scipy.interpolate as sci

In [13]:
import numpy as np

In [175]:
import sys

In [197]:
import csv

In [144]:
df = pd.read_excel("MPM_NO.xlsx")

In [147]:
df

,AVL_INDEP_TIME,AVL_INDEP_TIME.1,SPEED,TORQUE,POWER,BMEP,M_FUEL,VE_1,VE_2,BSFC,...,T_dem_E,ALPHA,ALPHA_d,FUELSPGRAVITY,NO_CYLINDERS,T_EGR_G_IN,T_EGR_G_OUT,EEIModule.INCA.DrvPrgSwt_st,EEIModule.INCA.EGRVlv_uRelPosClsd,EEIModule.INCA.EngPrt_qLim_f
1,1,43748,2200,185.6,42.75,6.6,10.06,45.64,38.11,235.34,...,0,100,100,0.835,4,181.72,**,NaN,NaN,NaN
2,2,43748,2200,152,35.01,5.41,8.26,37.46,31.28,235.86,...,152,88.8,88.8,0.835,4,309.43,**,NaN,NaN,NaN
3,3,43748,2200,144.2,33.21,5.13,7.84,35.55,29.68,236.17,...,144.2,88.4,88.4,0.835,4,309.24,**,NaN,NaN,NaN
4,4,43748,2200,136.7,31.49,4.87,7.45,33.79,28.21,236.51,...,136.7,88.1,88.1,0.835,4,298.48,**,NaN,NaN,NaN
5,5,43748,2200,129,29.72,4.59,7.05,31.97,26.69,236.9,...,129,87.7,87.7,0.835,4,285.63,**,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,16,43749,1000,44.6,4.67,1.59,1.37,13.71,11.44,294.14,...,162.5,33.4,33.3,0.835,4,125.06,**,NaN,NaN,NaN
303,17,43749,1000,33.5,3.51,1.19,1.18,11.76,9.82,334.13,...,162.5,33.2,33.1,0.835,4,107.94,**,NaN,NaN,NaN
304,18,43749,1000,22.3,2.34,0.79,1,9.95,8.31,425.15,...,162.5,32.9,32.8,0.835,4,96.08,**,NaN,NaN,NaN
305,19,43749,1000,11.2,1.18,0.4,0.81,8.1,6.77,694.75,...,162.5,32.3,32.2,0.835,4,92.06,**,NaN,NaN,NaN
306,20,43749,1000,0,0,0,0.63,6.32,5.28,659932,...,162.5,31.7,31.6,0.835,4,85.57,**,NaN,NaN,NaN

In [146]:
df.drop(0,inplace=True)

In [148]:
df2 = df.dropna(subset = ['AVL_INDEP_TIME.1'])

In [149]:
df3 = df2.drop(df2[df2['SPEED'] == 'SPEED'].index)

In [150]:
df3

,AVL_INDEP_TIME,AVL_INDEP_TIME.1,SPEED,TORQUE,POWER,BMEP,M_FUEL,VE_1,VE_2,BSFC,...,T_dem_E,ALPHA,ALPHA_d,FUELSPGRAVITY,NO_CYLINDERS,T_EGR_G_IN,T_EGR_G_OUT,EEIModule.INCA.DrvPrgSwt_st,EEIModule.INCA.EGRVlv_uRelPosClsd,EEIModule.INCA.EngPrt_qLim_f
1,1,43748,2200,185.6,42.75,6.6,10.06,45.64,38.11,235.34,...,0,100,100,0.835,4,181.72,**,NaN,NaN,NaN
2,2,43748,2200,152,35.01,5.41,8.26,37.46,31.28,235.86,...,152,88.8,88.8,0.835,4,309.43,**,NaN,NaN,NaN
3,3,43748,2200,144.2,33.21,5.13,7.84,35.55,29.68,236.17,...,144.2,88.4,88.4,0.835,4,309.24,**,NaN,NaN,NaN
4,4,43748,2200,136.7,31.49,4.87,7.45,33.79,28.21,236.51,...,136.7,88.1,88.1,0.835,4,298.48,**,NaN,NaN,NaN
5,5,43748,2200,129,29.72,4.59,7.05,31.97,26.69,236.9,...,129,87.7,87.7,0.835,4,285.63,**,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,16,43749,1000,44.6,4.67,1.59,1.37,13.71,11.44,294.14,...,162.5,33.4,33.3,0.835,4,125.06,**,NaN,NaN,NaN
303,17,43749,1000,33.5,3.51,1.19,1.18,11.76,9.82,334.13,...,162.5,33.2,33.1,0.835,4,107.94,**,NaN,NaN,NaN
304,18,43749,1000,22.3,2.34,0.79,1,9.95,8.31,425.15,...,162.5,32.9,32.8,0.835,4,96.08,**,NaN,NaN,NaN
305,19,43749,1000,11.2,1.18,0.4,0.81,8.1,6.77,694.75,...,162.5,32.3,32.2,0.835,4,92.06,**,NaN,NaN,NaN
306,20,43749,1000,0,0,0,0.63,6.32,5.28,659932,...,162.5,31.7,31.6,0.835,4,85.57,**,NaN,NaN,NaN

In [157]:
df3['G_SOOT'].iloc[100:155]

113     0.886000
114     0.619000
115     0.416000
116     0.344000
117     0.234000
118     0.154000
119     0.107000
120     0.058000
121     0.008000
122     0.008000
126     1.753000
127     1.836000
128    30.172001
129    31.643999
130    14.024000
131     7.892000
132     4.378000
133     7.177000
134     4.212000
135     2.473000
136     1.562000
137     0.961000
138     0.605000
139     0.467000
140     0.330000
141     0.236000
142     0.134000
143     0.121000
144     0.050000
145     0.060000
146     0.000000
150     1.871000
151    13.884000
152    38.790001
153    22.107000
154     5.033000
155     3.562000
156     2.068000
157     1.157000
158     0.755000
159     0.587000
160     0.426000
161     0.337000
162     0.300000
163     0.222000
164     0.138000
165     0.107000
166     0.055000
167     0.018000
168     0.017000
172     1.651000
173     1.817000
174     1.591000
175    52.036999
176    26.856001
Name: G_SOOT, dtype: float32

In [152]:
cols = df3.select_dtypes(exclude=['float']).columns
df3[cols] = df3[cols].apply(pd.to_numeric, downcast='float', errors='coerce')

In [156]:
df3["G_SOOT"] = df3["G_SOOT"].fillna(0)

In [158]:
df3['soot_mg_s'] = df3['G_SOOT']*(1000/3600)

In [159]:
df3['soot_mg_s'].iloc[100:155]

113     0.246111
114     0.171944
115     0.115556
116     0.095556
117     0.065000
118     0.042778
119     0.029722
120     0.016111
121     0.002222
122     0.002222
126     0.486944
127     0.510000
128     8.381112
129     8.790000
130     3.895556
131     2.192222
132     1.216111
133     1.993611
134     1.170000
135     0.686944
136     0.433889
137     0.266944
138     0.168056
139     0.129722
140     0.091667
141     0.065556
142     0.037222
143     0.033611
144     0.013889
145     0.016667
146     0.000000
150     0.519722
151     3.856667
152    10.775001
153     6.140834
154     1.398056
155     0.989444
156     0.574444
157     0.321389
158     0.209722
159     0.163056
160     0.118333
161     0.093611
162     0.083333
163     0.061667
164     0.038333
165     0.029722
166     0.015278
167     0.005000
168     0.004722
172     0.458611
173     0.504722
174     0.441944
175    14.454722
176     7.460001
Name: soot_mg_s, dtype: float32

In [160]:
x = df3['SPEED'].to_numpy()
y = df3['M_FUEL'].to_numpy()
z= df3['soot_mg_s'].to_numpy()
z2 = df3['G_SOOT'].to_numpy()

In [206]:
sys.getsizeof(z2)

96

In [207]:
f = sci.interp2d(x,y,z,kind = 'linear',bounds_error = False, fill_value = 0)

In [201]:
x_new = np.arange(1000,2300,100)
y_new = np.arange(0,11,1)

In [202]:
print(y_new)

[ 0  1  2  3  4  5  6  7  8  9 10]

In [203]:
out = f(x_new,y_new)

In [204]:
with open("out.csv","w+") as my_csv:
    csvWriter = csv.writer(my_csv,delimiter=',')
    csvWriter.writerows(out)